
.carousel.carousel-slider{
    height: calc(100vh - 80px);

    & .control-dots{
        & .dot{
            background:#CFCFCC;
            box-shadow:none;
            opacity:1;
            &.selected{background:#00838F;}
        }
    }
    & .control-arrow{
    width: 40px;
    top: 50%;
    transform: translateY(-50%);
    }
    & .slider-wrapper{
        max-width: 550px;
        & .slide{
            & img {
                max-height: 60vh;
            }
            & p{
                font-size: 2.2rem;
                margin-top: 50px;
                & span{
                    display: block;
                    margin-top: 20px;
                    font-size: 1.2rem;
                    color: #a2a2a2;
                }
            }
        }
    }
}

