//Onboarding
.onboarding{
  & .carousel-slider{
    height: calc(100vh - 80px);
    

    & .control-dots{
        & .dot{
            background:#CFCFCC;
            box-shadow:none;
            opacity:1;
            &.selected{background:#00838F;}
        }
    }
    & .control-arrow{
    width: 40px;
    top: 50%;
    transform: translateY(-50%);
    }
    & .slider-wrapper{
        max-width: 550px;
        & .slide{
            height: 100%;
            & img {
                max-height: 60vh;
            }
            & p{
                font-size: 2.2rem;
                margin-top: 50px;
                & span{
                    display: block;
                    margin-top: 20px;
                    font-size: 1.2rem;
                    color: #a2a2a2;
                }
            }
        }
    }
}
}


//CheckPage.tsx
.checkPage{

  & .carousel{
    height: auto;
    text-align: center;
    overflow: unset;

    & .slider-wrapper{
      max-width: 100%;
    }
    & .control-arrow{display: none;}
    & .carousel-status{
      position: absolute;
      top: -24px;
      right: 0;
      padding: 5px;
      font-size: 1.2rem;
      text-shadow:none;
      color: #757575;
    }

    & .slide{
      padding: 16px;
      background:#f5f5f5;
    }
    & ul.pageSlide{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2%;
      & p.date{
        margin-top: 4px;
        color:#757575;
      }
    }

    //하단 thumbs style
    & .thumbs-wrapper{
      margin:16px 0 0 0;
      border: 1px solid #CFCFCF;
      opacity: 0.7;
      & .thumbs{
        padding:16px;
        & .thumb{
          position: relative;
          border: 0;
          & ul.pageSlide{
            padding: 4px;
            background:#f5f5f5;
            & p{display: none}
          }
          &.selected {
            border: 0;
            & ul.pageSlide{
              border: 1px solid #00838F;
            }
          }
          &:hover{
          border: 0;
          }
          & input.checkbox{
            position: absolute;
            top: 4px;
            right: 4px;
            width: 24px;
            height: 24px;
          }
        }

      }
    }
  }

}


